.formContainer {
    display: flex;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 4px 10px  rgba(0, 0, 0, 0.1);
    max-width: 1500px; 
    padding: 30px;
    width: 90%; 
    overflow: hidden;
    margin: 50px auto;
  }
  
  .formLeft {
    background: linear-gradient(135deg, #3D52A0, #ADBBDA);
    color: white;
    padding: 40px 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .welcomeIcon {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .welcomeTitle {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .welcomeText {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .backButton {
    background: white;
    color:#ADBBDA;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #3a8dff;
    color: white;
  }
  
  .formRight {
    padding: 40px;
    width: 60%;
  }
  
  .formTitle {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .formRow {
    display: flex;
    gap: 10px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input:focus {
    border-color: #3a8dff;
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    resize: none;
  }
  
  .textarea:focus {
    border-color: #3a8dff;
  }
  
  .submitButton {
    background: #FF7043;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-end;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background: #ef6e47;
  }
  