.dailyexpense{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background: linear-gradient(135deg, #3D52A0, #ADBBDA);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .activeButton {
    background-color: #4CAF50; 
    color: white;
  }
  
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  h3 {
    margin-top: 0;
  }
  
  p {
    margin: 8px 0;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .editButton {
    
    
    background-color: #FF7043;
  }
  
  .editButton:hover {
    background-color: #218838;
  }
  .viewAllButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .viewAllButton {
    padding: 10px 20px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  .viewAllButton:hover {
    background-color: #1a59c3;
  }

  .btnbody{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .createNew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: #3D52A0;
    border-radius: 10px;
    box-shadow: 5px 4px 10px  rgba(0, 0, 0, 0.1);
    max-width: 1700px; 
    padding: 30px;
    width: 95%; 
    overflow: hidden;
    margin: 50px auto;
  }

  .togbtn{
    display:flex;
    padding: 10px;
    gap:20px;

  }

  .nodata{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 50px;
    padding: 50px;
  }